fastapi[standard]
uvicorn[standard]
pydantic
pydantic-settings
python-jose[cryptography]
python-multipart
loguru
redis
mysql-connector-python
python-dotenv
faster-whisper
psutil
aiofiles
aiohttp
ffmpeg-python  